
<h1 class="text-center text-success my-3">New recipe</h1>

<%= render "form", recipe: @recipe %>

<br>

<div class="text-center my-3">
  <%= link_to "Back to recipes", recipes_path, class: 'btn btn-success' %>
</div>
