<!-- app/views/recipes/public.html.erb -->
<h1>Public Recipes</h1>
<ul>
  <% @recipes.each do |recipe| %>
    <li><%= recipe.name %></li>
    <!-- Add more recipe details as needed -->
  <% end %>
</ul>
