<section class="container">
  <h1 class="d-flex justify-content-center">Editing food</h1>

<%= render "form", food: @food %>

<br>

<div class="d-flex justify-content-center">
  <%= link_to "Show this food", @food, class: 'btn btn-info' %> |
  <%= link_to "Back to foods", foods_path, class: 'btn btn-warning' %>
</div>

</section>