<section class="container">
  <h1 class="d-flex justify-content-center">New food</h1>

  <%= render "form", food: @food %>

  <br>

  <div>
    <%= link_to "Back to foods", foods_path %>
  </div>
</section>
